# --- Python & Environment ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.DS_Store

# --- Jupyter ---
.ipynb_checkpoints/

# --- Inputs ---
# Ignore everything, but keep specific source file if needed
inputs/*
!inputs/.gitkeep
!inputs/sfdr_data.csv

# --- Models & Generated Data ---
# Ignore heavy files, keep folder structure
models/*
!models/.gitkeep

data/*
!data/.gitkeep